@import "../../../../utils/scss/colors.scss";

.banner {
}

.banner-descritpiton {
}

.banner-descritpiton-title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: $gray-secondary;
}

.banner-descritpiton-text {
}

.banner-descritpiton-getStated {
}

.banner-descritpiton-watchVideo {
}
